{
	"plugins": [
		"syntax-dynamic-import"
	],
	"presets": [
		["env", {
			"modules": false,
			"targets": {
				"browsers": [
					"last 2 Chrome versions",
					"last 2 Safari versions",
					"last 2 Firefox versions"
				]
			},
			"useBuiltIns": true
		}]
	]
}